extends layout

block content
  h1 #{brandItem.name}
  ul
    li Description: #{brandItem.description}
  
  h2 Coffee types
  each brand in brandCoffee
    li= brand.name
    br 

  form(method="post" action=brandItem.url + "/delete")
    button(type="submit" class="delete-inventory btn-secondary") Delete
