extends layout

block content
    form(method="post")
        if errors
            ul
                each error in errors
                    li(class="text-danger" style="list-style-type: disc")
                        i=error.msg
                        
        div(class="form-group")
            label(for="name") Name
            input(type="string" name="name" class="form-control" aria-describedby="name" value=brand ? brand.name : "")

        div(class="form-group")
            label(for="description") Description
            input(type="string" name="description" class="form-control" aria-describedby="description" value=brand ? brand.description : "")

        button(type="submit" class="btn btn-danger" action="/catalog/brand/update") Submit
