extends layout

block content
    h1 Create new brand
    
    form(method="post")
        div(class="form-group")
            label(for="name") Name
            input(type="string" name="name" class="form-control" aria-describedby="name" value="")

        div(class="form-group")
            label(for="description") Description
            input(type="string" name="description" class="form-control" aria-describedby="description" value="")

        button(type="submit" class="btn btn-danger" action="/catalog/brand/create") Create
