extends layout

block content
    div(class="mb-3 text-center")
        h1= title
            a(href="/catalog/coffee/create" class="btn newInventory") +
                
    div(class="d-flex justify-content-center justify-content-md-around flex-wrap text-center") 
        each coffee in coffeeList 
            div(class="card mb-3" style="width: 18rem;")
                img(class="card-img-top" src="/images/coffee.jpg" alt="Card image cap")
                div(class="card-body")
                    h5(class="card-title") #{coffee.name}
                    p(class="card-text") 
                        p #{coffee.categories} 
                        a(href=coffee.url class="btn coffeeButton btn-danger") Details
    
    
