extends layout

block content 
    h1= title
    ul 
        each coffee in coffeeList 
            li 
                a(href=coffee.url) #{coffee.name} 
                | : #{coffee.categories.name} 
            br
            