extends layout

block content
  div(class="container text-center mainBody-page pt-3")
    h1(text-center) Welcome to Snuffells Coffee Inventory Page
    div(class="mt-3")
      h3(mt-3) Create, read, update, and delete local brands and associated coffee beans
      img(src="https://cdn.pixabay.com/photo/2015/10/12/14/54/coffee-983955__340.jpg" alt="coffee")
