extends layout

block content
  div(class="container text-center mainBody-page pt-3")
<<<<<<< HEAD
    h1(text-center) Welcome to CedarWing Coffee Inventory
=======
    h1(text-center) Welcome to Snuffels Coffee Inventory Page
>>>>>>> d92794d032f98e38fed6c078eb45c807737a9281
    div(class="mt-3")
      h3(mt-3) Create, read, update, and delete local brands and associated coffee beans
      img(class="img-fluid" style="max-width: 100%; height: auto;" src="https://cdn.pixabay.com/photo/2015/10/12/14/54/coffee-983955__340.jpg" alt="coffee")
