body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

h1 {
  color: rgb(177, 39, 39);
}

.navbar-brand-color {
  color: rgb(177, 39, 39) !important;
}

h5 {
  color: rgb(177, 39, 39) !important;
}

li {
  list-style: none;
}

.update-inventory {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.delete-inventory {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

button {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.coffeeButton {
  color: white;
}

.newInventory {
  margin: 10px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  

}

ul {
  padding-inline-start: 40px !important;
  padding: 0px;
}

.nav-link {
  font-size: 1.2rem;
}