body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: rgb(177, 39, 39);
}


li {
  list-style: none;
}

.update-inventory {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.delete-inventory {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}